/* News list: for basic.html */

.news-list-date {
	font-size: .75em;
	font-style:italic;
}

/* latest: for basic.html*/
/*.tx-ttnews-browsebox,*/
.news-latest-item,
.news-list-browse {
	clear: both;
}

/* News list: for layout3.html */
.news-list-item_layout3 {
	clear: both;
	margin-bottom: 1em;
}

.news-list-item_layout3 img {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-left: 0;
}

.news-data-line_layout3{
  margin: 0;
  margin-left: 2em;
  float: right;
}

.news-single-item { padding: 0; }

.news-single-item h1 {
	font-size: 1.4em;
}
.news-single-item h2 {
	font-size: 1em;
}

/* Single view */
.news-single-imgcaption {
	margin-top: 0;
	color: #333;
	font-size: 0.8em;
	font-style: italic;
	line-height: 1.4em;
	word-wrap: break-word;
}
