/* in2slideshow - Content elements "Images", "Text/Images" with "Indentation & Frames" = "Slideshow" */

/* Containers */
.in2slideshow {
	position: relative;
	max-width: 100%;
	margin-bottom: 20px;
}

.in2slideshow .csc-textpic-imagewrap,
.in2slideshow .csc-textpic-center .csc-textpic-center-outer,
.in2slideshow .csc-textpic-center .csc-textpic-center-inner {
	max-width: 100%;
}

.in2slideshow .csc-textpic-image {
	position: relative;
}

.in2slideshow .csc-textpic-imagewrap div div {
	position: relative;
	margin-bottom: 20px;
}

.in2slideshow .csc-textpic-imagewrap div div div {
	position: absolute;
	top: 0;
	left: 0;
	margin-bottom: 20px;
}

.in2slideshow .csc-textpic-imagewrap div div  div:first-child {
	position: relative;
}

/* Text layers, common rules */
.in2slideshow .csc-textpic-caption,
.in2slideshow.active .csc-textpic-image:hover:before {
	position: absolute;
	width: 96%;
	padding: 5px 2%;
	background: #000;
	color: #fff;
	font-size: .9em;
	font-style: normal;
	text-shadow: 1px 1px .5px rgba(0,0,0,.8), -1px 1px .5px rgba(0,0,0,.8), -1px -1px .5px rgba(0,0,0,.8), 1px -1px .5px rgba(0,0,0,.8);
}

/* Caption */
.in2slideshow .csc-textpic-caption {
	display: block;
	bottom: 0;
	opacity: .6;
	margin-top: 0;
}

html.cssgradients .in2slideshow .csc-textpic-caption  {
	opacity: 1;
	background: transparent linear-gradient(to top, rgba(0,0,0,0.5), rgba(255,0,0,0));
}

/* Pause indicator */
.in2slideshow.active .csc-textpic-image:hover {
	position: relative;
}

.in2slideshow.active .csc-textpic-image:hover:before {
	text-align: center;
	content: "angehalten…";
}

html[lang=en] .in2slideshow.active .csc-textpic-image:hover:before { content: "paused…"; }

html.cssgradients .in2slideshow.active .csc-textpic-image:hover:before {
	background: transparent linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(255,0,0,0));
}
